<h1>注文情報入力画面</h1>
<h1>Public::Genres#new</h1>
<p>Find me in app/views/public/orders/new.html.erb</p>
  <%= form_with url: orders_confirm_path, class: "m-5" do |f| %>
  <h4><strong>支払方法</strong></h4>
  <%= f.radio_button :payment_method, "credit_card" %>
  <%= f.label :payment_method, "クレジットカード" %><br>
  <%= f.radio_button :payment_method, "transfer" %>
  <%= f.label :payment_method, "銀行振込" %><br>
  <%= f.submit "確認画面へ進む", class: "btn btn-info" %>
<% end %>
