<div class="container">
  <div class="mx-auto">
    <div class="mb-3 p-2 bd-highlight">
      <h2 class="mb-4">注文履歴詳細</h2>
      
      <div class="m-2 p-5 shadow-lg">
        <div class="row">
          
          <%# 注文情報 %>
          <div class="col">
            <h4 class="m-2">注文情報</h4>
            <table class="table table-hover table-bordered">
              <tbody>
                <tr>
                  <td style="background-color: #eee; width: 30%;">注文日</td>
                  <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
                </tr>
                <tr>
                  <td style="background-color: #eee; width: 30%;">配送先</td>
                  <td>
                    <%= "〒" + @order.postal_code %><br>
                    <%= @order.address %><br>
                    <%= @order.name %>
                  </td>
                </tr>
                <tr>
                  <td style="background-color: #eee; width: 30%;">支払方法</td>
                  <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
                </tr>
                <tr>
                  <td style="background-color: #eee; width: 30%;">ステータス</td>
                  <td><%= @order.status %></td>
                </tr>
              </tbody>
            </table>
          </div>
    
          <%# 請求情報 %>
          <div class="col">
            <h4 class="m-2">請求情報</h4>
            <table class="table table-hover table-bordered">
              <tbody>
                <tr>
                  <td style="background-color: #eee; width: 30%;">送料</td>
                  <td><%= @order.shipping_cost.to_s(:delimited) %></td>
                </tr>
                <tr>
                  <td style="background-color: #eee; width: 30%;">商品合計</td>
                  <td><%= (@order.total_payment - @order.shipping_cost).to_s(:delimited) %></td>
                </tr>
                <tr>
                  <td style="background-color: #eee; width: 30%;">請求金額</td>
                  <td><%= (@order.total_payment).to_s(:delimited) %></td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      
        <%# 請求情報 %>
        <h4 class="m-2">注文内容</h4>
        <table class="table table-hover table-bordered">
          <thead>
            <tr style="background-color: #eee; width: 30%;">
              <th>商品</th>
              <th>単価（税込）</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_items.each do |order_item| %>
              <tr>
                <td><%= order_item.item.name %></td>
                <td><%= order_item.item.price_add_tax.to_s(:delimited) %></td>
                <td><%= order_item.amount.to_s(:delimited) %></td>
                <td><%= (order_item.item.price_add_tax * order_item.amount).to_s(:delimited) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>
